<link href="hero/hero.css" rel="stylesheet" />
<section id="hero">
  <img src="assets/img/uk-hero.avif" alt="UK Flag" />
  <div>
    <h1>The History of The Internet</h1>
    <p>In the UK</p>
  </div>
</section>
