<link href="covid/covid.css" rel="stylesheet" />
<section id="covid">
  <h1 class="title">2020 - COVID</h1>

  <div class="container">
    <p>
      In 2020, the outbreak of COVID-19 radically changed the way people in the
      UK interacted with the internet. As lockdowns and social distancing
      measures were implemented to curb the spread of the virus, many people
      turned to the internet to stay connected with family, friends, and
      colleagues, making digital platforms more crucial than ever. Social media
      usage surged as people sought not only to maintain social ties but also to
      stay informed in a rapidly changing world.
    </p>
    <img src="assets/img/covid.jpeg" alt="Covid" />
    <p class="text-center">The corona virus.</p>
    <h2>Social Media as a Lifeline</h2>
    <p>
      Platforms like Facebook, Twitter, Instagram, and YouTube played a pivotal
      role in how people consumed news and entertainment, as well as how they
      communicated with each other. With public events canceled and physical
      interactions limited, these platforms became even more central to people’s
      daily lives. Social media was also key for disseminating health
      information, with official health organizations and governments using
      platforms to keep the public informed about COVID-19 guidelines and
      updates.
    </p>
    <h2>Remote Working and Online Learning</h2>

    <div class="row align-items-center">
      <div class="col-md-6">
        <p>
          Additionally, remote working and online learning became the norm,
          increasing demand for internet services and digital tools. Zoom,
          Microsoft Teams, and other video conferencing platforms saw a massive
          uptick in usage, fundamentally altering the nature of work and
          education in the UK. With the rise of video meetings, webinars, and
          virtual events, the internet became an essential tool for personal and
          professional life.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="assets/img/coursera.png"
          alt="BSC Comp Sci coursera"
          class="img-fluid rounded"
        />
        <p class="text-center mb-0">
          Example of an online education course. Available at coursera.org
        </p>
      </div>
    </div>
    <h2>The Surge of E-commerce, Streaming, and Gaming</h2>
    <p>
      In many ways, the pandemic accelerated existing trends in digital
      behavior. The surge in e-commerce, streaming services, and online gaming
      highlighted the internet's role as a lifeline for entertainment, shopping,
      and socializing during a time when physical interactions were limited.
      Social networks also became powerful tools for activism and community
      support, as people rallied together online to support frontline workers,
      raise awareness for causes, and stay united despite being physically
      apart.
    </p>
    <h2>The Rise of Misinformation and Fake News</h2>
    <p>
      However, the pandemic also saw an increase in misinformation and fake news
      spreading rapidly across social media platforms. With many people turning
      to the internet for health information during a time of uncertainty, false
      claims about COVID-19, treatments, and vaccines were widely shared. Social
      networks, despite efforts to combat the spread of false information,
      became a breeding ground for conspiracy theories, misinformation, and
      panic. This posed significant challenges for public health campaigns and
      led to heightened concerns over the responsibility of platforms in curbing
      the spread of harmful content.
    </p>
    <p>
      Governments and tech companies faced mounting pressure to take stronger
      actions against the spread of fake news, with fact-checking organizations,
      digital literacy campaigns, and more rigorous platform policies being
      introduced to tackle the problem. Nonetheless, the issue of misinformation
      continued to be a pressing challenge in navigating the digital landscape
      during the pandemic.
    </p>
  </div>
</section>
