<link href="sources/sources.css" rel="stylesheet" />
<section id="sources">
  <h1 class="title-2">References</h1>

  <div class="container">
    <ul>
      <li>
        <a href="https://ventcube.com/history-of-the-internet-timeline/">
          History of The Internet Timeline
        </a>
      </li>
      <li>
        <a
          href="https://www.statista.com/statistics/468663/uk-internet-penetration/"
        >
          Internet penetration in the UK
        </a>
      </li>
      <li>
        <a
          href="https://theconversation.com/for-first-nations-people-coronavirus-has-meant-fewer-services-separated-families-and-over-policing-new-report-139460"
        >
          For First Nations people, coronavirus has meant fewer services,
          separated families and over-policing: new report</a
        >
      </li>
      <li>
        <a
          href="https://www.theguardian.com/world/2020/mar/12/uk-universities-switching-to-online-lectures-and-exams"
        >
          UK universities switching to online lectures and exams
        </a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/ARPANET"> Arpanet</a>
      </li>
      <li>
        <a
          href="https://en.wikipedia.org/wiki/Internet_in_the_United_Kingdom#:~:text=Pipex%20was%20established%20in%201990,internet%20access%20in%20the%20UK."
        >
          Internet in the United Kingdom
        </a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Demon_Internet"
          >Demon Internet
        </a>
      </li>
      <li>
        <a href="https://doteasy.com/blog/how-do-domains-work"
          >How do domains work</a
        >
      </li>
      <li>
        <a href="https://www.bbc.co.uk/sounds/play/b06c0ch3">Dotcom bubble</a>
      </li>
      <li>
        <a
          href="https://www.emergenresearch.com/blog/how-the-iphone-changed-the-world"
          >How the iPhone changed the World
        </a>
      </li>
      <li>
        <a
          href="https://www.kantar.com/uki/inspiration/social-media/this-is-how-the-uk-uses-social-media"
        >
          This is how the UK uses social media
        </a>
      </li>
      <li>
        <a
          href="
https://www.consilium.europa.eu/en/policies/data-protection-regulation/#:~:text=The%20GDPR%20lists%20the%20rights,his%20or%20her%20personal%20data
          "
        >
          The general data protection regulation
        </a>
      </li>
    </ul>
  </div>
</section>
<h1 class="title mb-0 mt-5">Thank you!</h1>
