<link href="header/header.css" rel="stylesheet" />

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/img/uk-flag.png"
        alt="Logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      History of The Internet in the UK
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#hero">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#timeline"
            >Timeline</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#arpanet"
            >ARPANET</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#dns">DNS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#www">WWW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#isp">ISP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#dot-com"
            >.com</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#mobile"
            >Mobile</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#social-networks"
            >Social Networks</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#covid">Covid</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
